h1 {
  text-align: center;
}
table {
  margin: 0 auto;
}
select {
  width: 11.1rem;
}

.advertencia{
  text-align: center;
  color: rgb(255, 0, 0);
}

.correcto{
  text-align: center;
  color: rgb(0, 255, 0);
}